body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.App__aside {
    max-width: 256px;
    width: 100%;
}

.App__content {
    max-width: 768px;
    width: 100%;
    margin: 0 12px;
}

.YandexHeader-NavLink {
    align-items: center;
}

.YandexHeader-NavLink .DefaultHeader__text {
    padding-left: 8px;
    color: var(--color-typo-primary);
}

.ProfileEditContent__name {
    display: flex;
}

.ProfileEditContent__name .Textinput:not(:first-child) {
    margin-left: 8px;
}

.ProfileEditContent__body .Textarea {
    margin-top: 8px;
}

.Text--logo {
    padding-bottom: 12px;
}

.Card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 12px;
}

.FeedPost__header {
    display: flex;
    align-items: center;
}

.FeedPost__header .Text {
    padding-left: 12px;
}

.FeedPost__header .Button2 {
    margin-left: auto;
}

.FeaturedCard__img {
    object-fit: scale-down;
}

.FeaturedCard__content {
    display: flex;
    flex-direction: column;
}

.ProfileEditBlock__body {
    display: flex;
    align-items: center;
}

.ProfileEditBlock__heading {
    display: inherit;
    flex-direction: column;
}

.ProfileEditBlock__action {
    margin-left: auto;
}